.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0rem 1rem;
  overflow-y: auto;
}

.navbar {
  width: 100%;
  display: flex;
  top: 0;
  z-index: 10;
  background-color: #212121;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.2px rgb(128, 128, 128);
  position: sticky !important;
}

.navbar span {
  margin: 0.5rem 1rem;
}

.userIconDiv {
  margin: 0.5rem 1rem;
}

.userIcon {
  background-color: #339cff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* chat input */

.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 10;
  position: sticky;
  background-color: #212121;
}

.inputBox {
  width: 100%;
  position: relative;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  font-size: 0.8rem;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#submit i:hover {
  color: #fff;
}

.info {
  font-size: 0.8rem;
  padding: 0.5rem;
  columns: #b4b4b4;
}
