.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.logo {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  object-fit: cover;
}

button span {
  font-size: 20px;
}

button:hover {
  background-color: rgba(180, 180, 180, 0.05);
}
.history {
  margin: 10px;
  padding: 10px;
  height: 100%;
}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 0.3rem;
  font-size: 14px;
  border: solid 10px transparent;
  position: relative;
}

.history li:hover {
  border-radius: 10px;
  background-color: rgba(180, 180, 180, 0.05);
}

.sign {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

/* scrollable chat area */
.history {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding-bottom: 20px;
}

/* Chrome / Edge / Safari */
.history::-webkit-scrollbar {
  width: 8px;
}

.history::-webkit-scrollbar-track {
  background: #191919;
}

.history::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

.history::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}

/* Firefox */
.history {
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b #1f1f1f;
}

/*  delete thread */
.fa-trash {
  opacity: 0;
  position: absolute;
  right: 0;
}

.history li:hover .fa-trash {
  opacity: 1;
  color: #fff;
}

.fa-trash:hover {
  color: #f87171 !important;
}
